@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Lobster&display=swap%27");

:root {
  /* --bg-color: #f2f2f2;
  --color-primary: #023e73;
  --color-secundary: #084da6;
  --bg-color-dark: #bfa26b; */
  --color-contrast: #a60321; /* En el title-header */

  --bg-light: #F2F2F2;
  --bg-dark: #0B3762;
  --color-text-bg-light: #342618; /* Aún no usado */
  --color-text-bg-dark: #FFFFFF;
  --color-contrast-bg-light: #0B4DA5; /* Aún no usado */
  --color-contrast-bg-dark: #FFA438;
  --color-links-cta: #FFA438; /* Aún no usado */
  --color-links-visited: #8197BA; /* Aún no usado */
}


body {
  width: 100%;
  height: min-content;
  background-color: var(--bg-light);

  margin: 0;
}

header {
  width: 100%;
  height: 620px;
  background: linear-gradient(var(--bg-light) 40%, var(--bg-dark) 40%);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-title {
  width: min-content;
  height: min-content;

  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
}

.text-intro {
  width: 600px;
  height: 330px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.logo-pato {
  transform: translate(280px, -80px);
  position: absolute;
}

h1{
  /*Es posible que haya que cambiar esta variable para una especifica para el logo*/
  color: var(--color-links-cta);
  font-family: "Lobster", cursive;
  text-align: start;
  font-size: 70px;

  margin: 0;
}


.description-header {
  width: 60%;
  color: var(--color-text-bg-dark);
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-size: 36px;

  position: absolute;
  top: 3em;
}

.container {
  height: 500px;
  width: 90%;
  height: min-content;
  margin: 56px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 39px;
  grid-row-gap: 39px;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
}

/* Estilos de las tarjetas de eventos */

.container-card {
  width: 90%;
  padding-bottom: 15em;
  margin: 2em auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
}

.photoEvent{
  width: 480px;
  height: 430px;
  background-color: var(--bg-light);
  border-radius: 25px;
  left: 200px;
}

.photoEvent > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 25px;
}

.card {
  height: 400px;
  width: 480px;
  background: var(--bg-dark);
  border-radius: 25px;

  box-shadow: 4px 10px 6px #00000050;
  transition: 2s;

  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 3em;


  text-align: center;
  color: var(--color-text-bg-dark);

}

.card:hover {
   bottom: 0;
}

.card > h3 {
  padding: 5px;
  margin-top: 10px;

  font-family: "Lobster", cursive;
  font-size: 2em;
}

.card > p {
  padding: 10px;
  margin-top: 10px;

  font-size: 32px;
}

.icons-bar {
  width: 90%;
  height: 48px;
  background: var(--bg-light);
  border-radius: 25px;

  margin: 10px auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

figure {
  width: 48px;
  height: 48px;

  margin: 0;
}

figure > img {
  width: 48px;
  height: 48px;

  margin-left: 10px;
}








/* Estilos de las ventanas modales */

.modal-container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  /*Las dos siguientes propiedades javascript te las inyecta al HTML no al CSS
  Sería conveniente que si quieres que este oculto usar la clase hidden*/
  opacity: 0;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.modal {
  width: max-content;
  padding: 2.2em;
  margin: 0 auto;
  background: var(--bg-light);
  border-radius: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size:1.5em;
  color: var(--color-text-bg-light);
  text-align: center;
}

.modal-image {
  height: 350px;
}

.modal-text {
  padding: 25px;
}
.modal-text>p:first-of-type{
  font-family: "Lobster", cursive;
  font-size: 2em;
}

.cta {
  cursor: pointer;
}

.close {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1em;
  right: 1em;
  /*La línea de acontinuación me da la sensación de que no hace nada*/
  display: inline-block;
  cursor: pointer;
}

.description {
  text-align: initial;

  padding: 0px 25px 10px;
}

footer {
  width: 100%;
  min-height: 200px;
  padding: 1em 0;
  background-color: var(--bg-dark);

  display: flex;
  flex-direction: column;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
  color: var(--color-text-bg-dark);
  text-align: center;
}
.container-developers p strong{
  font-weight: bold;
  font-size: 1.25em;
}
.container-img {
  width: 80%;
  background: var(--color-text-bg-dark);
  border-radius: 15px;
  padding: 0 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 1em auto;

}

.container-img > img {
  max-height: 50px;
}

a {
  color: var(--color-links-cta);
}
a:visited {
  color: var(--color-links-visited);
}

/*Clase estandar para ocultar ciertos elementos temporalmente*/

.hidden {
  display: none;
}

/*Clase estandar para ocultar ciertos elementos temporalmente*/

.hidden {
  display: none;
}


/* Responsive */


@media screen and (min-width: 769px) and (max-width: 1023px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  header {
    justify-content: center;
  }

  .text-intro {
    width: 400px;
    height: 330px;
  }
  .logo-pato {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }
  body .description {
    display: none;
  }
  .container-logo {
    display: none;
  }
  .container-img {
    width: 300px;
  }
}
