@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Lobster&display=swap%27");

:root {
  --bg-color: #f2f2f2;
  --color-primary: #023e73;
  --color-secundary: #084da6;
  --bg-color-dark: #bfa26b;
  --color-contrast: #a60321;
}

body {
  width: 100%;
  height: min-content;
  margin: 0;
  background-color: var(--bg-color);
}

header {
  display: flex;
  width: 100%;
  height: 620px;
  background: linear-gradient(var(--bg-color) 40%, var(--color-primary) 40%);
  justify-content: space-around;
  align-items: center;
}

.container-title {
  font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
  height: min-content;
  width: min-content;
  position: relative;
}

.text-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 330px;
  width: 600px;
  position: relative;
}

.logo-pato {
  transform: translate(280px, -80px);
  position: absolute;
}

.title-header {
  font-family: "Lobster", cursive;
  color: var(--color-contrast);
  text-align: start;
  margin: 0;
  font-size: 70px;
}

.description-header {
  font-family: "Be Vietnam Pro", sans-serif;
  width: 60%;
  font-weight: normal;
  font-size: 36px;
  color: var(--bg-color);
  position: absolute;
  top: 3em;
}

.description-header strong {
  color: var(--bg-color-dark);
  font-weight: bolder;
}

.square-grey {
  display:none;
  background: #c4c4c4;
  width: 440px;
  height: 440px;
  z-index: 5;
}

.container {
  height: 500px;
}

/* Estilos de las tarjetas de eventos */

.container {
  width: 90%;
  height: min-content;
  margin: 56px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 39px;
  grid-row-gap: 39px;
}

.card {
  background: #b7caf5;
  text-align: center;
  border-radius: 25px;
}

.card > img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.description {
  text-align: initial;
  padding: 0px 25px 10px;
}

footer {
  background-color: var(--color-primary);
  width: 100%;
  min-height: 200px;
  color: var(--bg-color);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container-img {
  width: 80%;
  height: 50px;
  background: white;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 15px;
}

.container-img img {
  height: 100%;
}
/* Responsive */

@media screen and (min-width: 320px) and (max-width: 1250px) {
  .square-grey {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  header {
    justify-content: center;
  }

  .text-intro {
    width: 400px;
    height: 330px;
  }
  .logo-pato {
    display: none;
  }
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .card {
    border-radius: 0px;
  }
  .card > img {
    border-radius: 0px;
  }
  body .description {
    display: none;
  }
  .container-logo {
    display: none;
  }
}
