@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --bg-light: #f2f2f2;
  --bg-dark: #0b3762;
  --color-text-bg-light: #342618;
  --color-text-bg-dark: #ffffff;
  --color-contrast-bg-light: #0b4da5;
  --color-contrast-bg-dark: #ffa438;
  --color-links-cta: #ffa438;
  --color-links-visited: #8197ba;
}

body {
  width: 100%;
  height: min-content;
  background-color: var(--bg-light);

  margin: 0;
}

header {
  width: 100%;
  height: 620px;
  background: linear-gradient(var(--bg-light) 40%, var(--bg-dark) 40%);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-title {
  width: min-content;
  height: min-content;

  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
}

.text-intro {
  width: 600px;
  height: 330px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.logo-pato {
  transform: translate(280px, -80px);
  position: absolute;
}

h1 {
  color: var(--color-links-cta);
  text-shadow: 4px 0 0 var(--color-contrast-bg-light);
  font-family: "Lobster Two", cursive;
  text-align: start;
  font-size: 70px;
  font-weight: bold;

  margin: 0;
}

.description-header {
  width: 60%;
  color: var(--color-text-bg-dark);
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-size: 36px;

  position: absolute;
  top: 3em;
}

.container {
  width: 90%;
  height: min-content;
  margin: 56px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 39px;
  grid-row-gap: 39px;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
}

/* Estilos de las tarjetas de eventos */

.container-card {
  width: 90%;
  padding-bottom: 15em;
  margin: 2em auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
}

.photoEvent {
  width: 100%;
  height: 340px;
  background-color: var(--bg-light);
  border-radius: 25px;
  left: 200px;
}

.photoEvent > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 25px;
}

.card {
  width: 100%;
  height: 280px;
  background: var(--bg-dark);
  border-radius: 25px;

  display: flex;
  flex-direction: row;
  box-shadow: 0px 10px 12px 4px #00000050;
  transition: 2s;

  position: absolute;
  bottom: 7em;
  /*text-align: center;*/
  color: var(--color-text-bg-dark);
  cursor: pointer;
}
.card:hover {
  bottom: 5em;
}
.info-card {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 0px 15px;
}
.info-card > h3 {
  margin: 0;
  height: 50%;
  font-family: "Lobster two", cursive;
  font-size: 2em;
}

.info-card > p {
  margin: 0;

  font-size: 1.5em;
}
.date-card {
  width: 25%;
  color: var(--color-text-bg-light);
  background: var(--bg-light);
  border-radius: 0 25px 25px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  text-align: center;
}
hr {
  width: 75%;
  border: none;
  border-top: 1px solid var(--color-text-bg-light);
}
.icons-bar {
  width: 90%;
  height: 48px;
  background: var(--bg-light);
  border-radius: 25px;
  margin: 10px auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

figure {
  width: 50px;
  height: 50px;

  margin: 0;
}

figure > img {
  width: 48px;
  height: 48px;

  margin-left: 10px;
}

/* Estilos de las ventanas modales */

.modal-container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.modal {
  max-width: 75vw;
  max-height: 85vh;
  padding: 20px;
  margin: 0 auto;
  background: var(--bg-light);
  border-radius: 25px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.5em;
  color: var(--color-text-bg-light);
  text-align: center;
}

.modal-image {
  height: 350px;
}

.modal-text {
  padding: 25px;
}
.modal-text > p:first-of-type {
  font-family: "Lobster Two", cursive;
  font-size: 2em;
}

.close {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1em;
  right: 1em;
  /*La línea de acontinuación me da la sensación de que no hace nada*/
  display: inline-block;
  cursor: pointer;
}

.description {
  text-align: initial;

  padding: 0px 25px 10px;
}

footer {
  width: 100%;
  min-height: 200px;
  padding: 1em 0;
  background-color: var(--bg-dark);

  display: flex;
  flex-direction: column;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
  color: var(--color-text-bg-dark);
  text-align: center;
}
.container-developers p strong {
  font-weight: bold;
  font-size: 1.25em;
}
.container-img {
  width: 80%;
  background: var(--color-text-bg-dark);
  border-radius: 15px;
  padding: 0 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 1em auto;
}

.container-img > img {
  max-height: 50px;
}

a {
  color: var(--color-links-cta);
}
a:visited {
  color: var(--color-links-visited);
}

/*Clase estandar para ocultar ciertos elementos temporalmente*/

.hidden {
  display: none;
}

/* Botón de volver arriba */
#btn-up {
  width: 50px;
  height: 50px;
  background: var(--color-contrast-bg-light);
  opacity: 25%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;

  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: scale(0);
}
#btn-up:hover{
  opacity: 100%;
}

/* Responsive */

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    border-radius: 0 0 25px 25px;
    bottom: 0;
  }
  .card:hover {
    bottom: 0;
  }
  .date-card {
    border-radius: 0 0 25px 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  header {
    justify-content: center;
  }

  body .description {
    display: none;
  }

  .container-logo {
    display: none;
  }
  .container-img {
    width: 300px;
  }

  .text-intro {
    width: 400px;
    height: 330px;
  }
  .logo-pato {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .card {
    border-radius: 0 0 25px 25px;
    bottom: 0;
  }
  .card:hover {
    bottom: 0;
  }
  .date-card {
    border-radius: 0 0 25px 0;
  }

  .modal {
    padding: 2em 0 0 0;
    flex-direction: column;
    width: 100%;
    height: 95%;
    border-radius: 0;
    overflow-y: scroll;
  }
  .modal-image {
    width: 100%;
  }
  .close {
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
  }
  .modal-text > p:first-of-type {
    margin-top: 0;
  }
}
