@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Lobster&display=swap%27");

:root {
  --bg-light: #F2F2F2;
  --bg-dark: #0B3762;
  --color-text-bg-light: #342618;
  --color-text-bg-dark: #FFFFFF;
  --color-contrast-bg-light: #0B4DA5;
  --color-contrast-bg-dark: #FFA438;
  --color-links-cta: #FFA438;
  --color-links-visited: #8197BA;
}

body {
  width: 100%;
  height: min-content;
  background-color: var(--bg-light);

  margin: 0;
}

header {
  width: 100%;
  height: 620px;
  background: linear-gradient(var(--bg-light) 40%, var(--bg-dark) 40%);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-title {
  width: min-content;
  height: min-content;

  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
}

.text-intro {
  width: 600px;
  height: 330px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.logo-pato {
  transform: translate(280px, -80px);
  position: absolute;
}

h1{
  /*Es posible que haya que cambiar esta variable para una especifica para el logo*/
  color: var(--color-links-cta);
  font-family: "Lobster", cursive;
  text-align: start;
  font-size: 70px;

  margin: 0;
}

.description-header {
  width: 60%;
  color: var(--color-text-bg-dark);
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-size: 36px;

  position: absolute;
  top: 3em;
}

.container {
  height: 500px;
}

/* Estilos de barra de navegación */
.container-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-title{
  font-family: "Lobster", cursive;
  color: var(--bg-dark);
  font-size: 40px;

}

.nav-title span {
  color: var(--color-links-cta);
}

.navegation{
  color: var(--bg-dark);
  width: 550px;
  background-color: var(--color-text-bg-dark);
  border-radius: 15px;
  border: 3px solid var(--bg-dark);
}

.navegation ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 20px;
  padding-left: 0;  // Para quitar el espacio que tiene por defectos las listas no me deja espaciar bien
}



/* Estilos de las tarjetas de eventos */

.container {
  width: 90%;
  height: min-content;
  margin: 56px auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 39px;
  grid-row-gap: 39px;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
}

.card {
  background: var(--bg-dark);
  border-radius: 25px;

  text-align: center;
  color: var(--color-text-bg-dark);
}

.card > img {
  width: 100%;
  height: 260px;
  border-radius: 25px 25px 0px 0px;

  object-fit: cover;
}

.card > h3 {
  padding: 5px;
  margin-top: 10px;

  font-family: "Lobster", cursive;
  font-size: 2em;
}

.icons-bar {
  width: 90%;
  height: 48px;
  background: var(--bg-light);
  border-radius: 25px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 10px auto;
}

.icons-bar > figure {
  width: 48px;
  height: 48px;

  margin: 0;
}

figure > img {
  width: 48px;
  height: 48px;

  margin-left: 10px;
}

/* Estilos de las ventanas modales */

.modal-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  /*Las dos siguientes propiedades javascript te las inyecta al HTML no al CSS
  Sería conveniente que si quieres que este oculto usar la clase hidden*/
  opacity: 0;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.modal {
  width: max-content;
  padding: 2.2em;
  margin: 0 auto;
  background: var(--bg-light);
  border-radius: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size:1.5em;
  color: var(--color-text-bg-light);
  text-align: center;
}

.modal-image {
  height: 350px;
}

.modal-text {
  padding: 25px;
}
.modal-text>p:first-of-type{
  font-family: "Lobster", cursive;
  font-size: 2em;
}

.cta {
  cursor: pointer;
}

.close {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 1em;
  right: 1em;
  /*La línea de acontinuación me da la sensación de que no hace nada*/
  display: inline-block;
  cursor: pointer;
}

.description {
  text-align: initial;

  padding: 0px 25px 10px;
}

footer {
  width: 100%;
  min-height: 200px;
  padding: 1em 0;
  background-color: var(--bg-dark);

  display: flex;
  flex-direction: column;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
  color: var(--color-text-bg-dark);
  text-align: center;
}

.container-developers p strong{
  font-weight: bold;
  font-size: 1.25em;
}
.container-img {
  width: 80%;
  background: white;
  border-radius: 15px;
  padding: 0 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 1em auto;

}

.container-img > img {
  max-height: 50px;
}

a {
  color: var(--color-links-cta);
}
a:visited {
  color: var(--color-links-visited);
}

/*Clase estandar para ocultar ciertos elementos temporalmente*/

.hidden {
  display: none;
}

/* Responsive */


@media screen and (min-width: 769px) and (max-width: 1023px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  header {
    justify-content: center;
  }

  .text-intro {
    width: 400px;
    height: 330px;
  }
  .logo-pato {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }
  body .description {
    display: none;
  }
  .container-logo {
    display: none;
  }
  .container-img {
    width: 300px;
  }
}

@media screen and (max-width: 585px){
  .navegation{
    width: 90%;
  }

  .nav-title{
    width: 80%;
  }

}
