@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg-light: #f2f2f2;
  --bg-dark: #0b3762;
  --color-text-bg-light: #342618;
  --color-text-bg-dark: #ffffff;
  --color-contrast-bg-light: #0b4da5;
  --color-contrast-bg-dark: #ffa438;
  --color-links-cta: #ffa438;
  --color-links-visited: #8197ba;
}

header {
  width: 100%;
  height: 450px;

  background: url(../assets/img/sitting-4.png) no-repeat center 16px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-title {
  width: min-content;
  height: min-content;

  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;
  position: relative;
}

.text-intro {
  width: 600px;
  height: 330px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

h1 {
  color: var(--color-links-cta);
  text-shadow: 4px 0 0 var(--color-contrast-bg-light);
  font-family: "Lobster Two", cursive;
  text-align: start;
  font-size: 70px;
  font-weight: bold;

  position:absolute;
  top: -80px;
}

.description-header {
  width: 60%;
  color: var(--color-text-bg-dark);
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: normal;
  font-size: 36px;

  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-40%);
}

.container {
  height: 500px;
}

/* Estilos de BARRA NAVEGACION*/
.container-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-title{
  font-family: "Lobster", cursive;
  color: var(--bg-dark);
  font-size: 40px;

}


.navegation{
  color: var(--color-text-bg-light);
  width: 550px;
  height: 50px;
  background-color: var(--color-text-bg-dark);
  border-radius: 15px;
  border: 3px solid var(--bg-dark);
  position: relative;
  transition: 200ms;
}

.navegation ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;  /*Para quitar el espacio que tiene por defectos las listas no me deja espaciar bien*/
}

.container-nav li{
  cursor: pointer;
}

.navegation li:hover {
  border-bottom: 3px solid var(--color-contrast-bg-dark);
}

.nav-select{
  background: var(--bg-dark);
  height: 100%;
  color: white;
  border-radius: 10px;
  padding: 5px;
  transform: translateY(-18px);
}



/* Estilos de las tarjetas de eventos */
/*
.container {
  width: 90%;
  height: min-content;
  margin: 56px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-column-gap: 8px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
} */

/* Estilos de las tarjetas de eventos */

.container-card {
  font-family: "Be Vietnam Pro", sans-serif;
}
.container-card {
  width: 90%;
  margin: 2em auto;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0px 10px 12px 4px #00000050;

  border-radius: 12px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.photoEvent {
  width: 100%;
  height: 150px;
  position: relative;
}

.photoEvent > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.photoEvent >.bookmark{
  width: 48px;
  height: 48px;
  background: url(../img/icons/heart-outline.svg) var(--bg-light) no-repeat;
  border: 1px solid var;
  position: absolute;
  left: 10px;
  top:10px
}
.photoEvent >.bookmark-selected{
  width: 48px;
  height: 48px;
  background: url(../img/icons/heart.svg) var(--bg-light) no-repeat;
  border: 1px solid var;
  position: absolute;
  left: 10px;
  top:10px
}

.info-card {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 15px;
}
.info-card > h3 {
  height: 35%;
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
}

.info-card > p {
  margin: 0;
  font-size: 1em;
}

.icons-bar {
  width: 100%;
  padding: 10px 0;
  background: var(--bg-light);
  box-shadow: 0px 2px 4px #00000050;
  border-radius: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.icons-bar > div > img {
  width: 26px;
  height: 26px;
}
.icons-bar > div {
  display:flex;
  flex-direction: column;
  align-items: center;
}
.icons-bar > img {
  width: 26px;
  height: 26px;
}
/* Tooltips */

.tooltip {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0;
  position: absolute;
  top:0;
  right: 0;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;


}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Estilos de las ventanas modales */

.modal-container {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.modal {
  width: 75vw;
  height: min-content;
  margin: 0 auto;
  background: var(--bg-light);
  border-radius: 25px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.5em;
  color: var(--color-text-bg-light);
  text-align: center;
}

.modal-image {
  width: 50%;
  height: 500px;
  display: flex;
  padding: 16px ;
  justify-content: center;
  align-items: center;
}
.modal-image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.modal-text {
  padding: 25px;
  width: 50%;
  height: 80%;
}
.modal-text > p:first-of-type {
  font-family: 'Merriweather', serif;
  font-size: 2em;
}

.close {
  width: 48px;
  height: 48px;
  position: relative;
  align-self: flex-start;
  padding: 10px;
  cursor: pointer;
}

.description {
  text-align: initial;

  padding: 0px 25px 10px;
}

footer {
  width: 100%;
  min-height: 200px;
  padding: 1em 0;
  background-color: var(--bg-dark);

  display: flex;
  flex-direction: column;

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
  color: var(--color-text-bg-dark);
  text-align: center;
}

.container-developers p strong{
  font-weight: bold;
  font-size: 1.25em;
}
.container-img {
  width: 80%;
  background: var(--color-text-bg-dark);
  border-radius: 15px;
  padding: 0 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 1em auto;
}

.container-img > img {
  max-height: 50px;
}

a {
  color: var(--color-links-cta);
}
a:visited {
  color: var(--color-links-visited);
}

/*Clases estándar para añadir y eliminar desde JS*/
.overflow-hidden{
  overflow: hidden;
}
.hidden {
  display: none;
}

/* Botón de volver arriba */
#btn-up {
  width: 50px;
  height: 50px;
  background: var(--bg-dark);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 20px;

  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: scale(0);
}
#btn-up:hover{
  background-color: var(--color-contrast-bg-light);
}

/* Responsive */

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .logo-pato {
    transform: translate(250px, -80px);
  }
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  header {
    justify-content: center;
  }

  body .description {
    display: none;
  }

  .container-logo {
    display: none;
  }
  .container-img {
    width: 300px;
  }

  .text-intro {
    width: 400px;
    height: 330px;
  }
  .logo-pato {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }

  .modal-container{
    align-items: center;
  }

  .modal {
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  .modal-image {
    height: 45%;
    order: 2;
    padding: 0;
  }

  .landscape {
    width: 100%;
  }

  .modal-text{
    width: 80%;
    height: 50%;
    order: 3;
  }

  .close {
    position: relative;
    order:1;
    align-self: center;
    height: 5%;
  }

  .modal-text > p:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 660px){
  header {
    background: url(../assets/img/Pato-de-pie-mobile.png) no-repeat center 16px;
  }
  .description-header{
    color: var(--bg-dark);
    font-weight: bold;
    top: 190px;
    transform: translateX(-50%);
  }

  .text-intro h1 {
    top: 95px
  }


}

@media screen and (max-width: 585px){
  .navegation{
    width: 90%;
  }

  .nav-title{
    width: 80%;
  }

}
