@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  text-shadow: 5px 0 0 #0B3762;
}


@layer components {
  .modal-container {
    @apply w-full h-screen bg-neutral-900 bg-opacity-70 flex justify-center items-center fixed top-0 left-0 z-[3] ;
  }
  .modal {
    @apply w-full h-screen bg-light overflow-y-scroll flex flex-col justify-around items-center font-sans text-bg-light text-center md:w-3/4 md:h-3/4 md:overflow-y-hidden md:rounded-3xl md:flex-row md:justify-around md:relative;
  }
  .modal-image {
    @apply w-1/2 h-1/2 flex justify-center items-center order-2 md:h-96 md:p-4 md:order-none;
  }
  .modal-image img {
    @apply w-full h-full object-scale-down;
  }
  .landscape {
    @apply sm:w-full;
  }
  .modal-text {
    @apply w-4/5 h-2/4 flex flex-col justify-around order-3 md:w-2/4 md:h-4/5 md:order-none;
  }
  .modal-text > p:first-of-type {
    @apply font-serif text-2xl font-bold leading-10 md:text-2xl;
  }
  .close {
    @apply w-12 h-12 relative self-center order-1 cursor-pointer md:self-start md:order-none md:p-2.5;
  }

  .container-card {
    @apply  rounded-2xl text-base cursor-pointer font-sans;
    box-shadow: 0px 10px 12px 4px #00000050;
  }
  .photoEvent {
    @apply w-full h-40 relative;
  }
  .photoEvent > img {
    @apply w-full h-full object-cover rounded-tl-2xl rounded-tr-2xl;
  }

  .info-card {
    @apply w-full h-72 flex flex-col justify-evenly px-4;
  }

  .info-card h3 {
    @apply h-2/6 text-xl font-serif;
  }

  .info-card p {
    @apply text-base;
  }

  .icons-bar {
   @apply w-full py-2.5 bg-light rounded-[80px] flex flex-row flex-wrap justify-evenly;
   box-shadow: 0px 2px 4px  #00000050;
  }
  .icons-bar > div {
    @apply flex flex-col items-center;
  }
  .icons-bar > div > img {
    @apply w-6 h-6;
  }
  .bookmark {
    @apply w-12 h-12 flex justify-center items-end absolute top-0 left-0;
  }
  .tooltip {
    @apply w-12 h-12 flex justify-center items-end absolute top-0 right-0;
  }
  .tooltip .tooltip-text {
    @apply hidden w-24 bg-black text-white text-center rounded-md px-1 py-1 absolute z-[1] bottom-full left-1/2 -translate-x-1/2;
  }
  .tooltip:hover .tooltip-text {
    @apply block opacity-100;
  }
  .tooltip .tooltip-text::after {
    @apply absolute top-full left-1/2 -ml-1 border-[5px] border-solid;
    content: " ";
    border-color: black transparent transparent transparent;
  }

}
