@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;1,400;1,500&family=Lobster&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap%27");
@tailwind base;
@tailwind components;
@tailwind utilities;

.name-web{
  text-shadow: 5px 0 0 #0B3762;
}

.page-404{
  min-height: calc(100vh - 310px);
}

@layer components {
  .filter-selected{
    @apply flex justify-center items-center py-1 px-2 cursor-pointer text-dark font-bold bg-links-cta rounded;
  }
  .filter-unselected{
    @apply flex justify-center items-center py-1 px-2 cursor-pointer bg-dark rounded font-bold;
  }
  .page-selected{
    @apply px-4 py-2 bg-dark text-light font-bold cursor-pointer border border-dark rounded;
  }
  .page-unselected{
    @apply px-4 py-2 bg-light text-dark font-bold cursor-pointer border border-dark rounded hover:bg-dark hover:text-light;
  }
  .info-notFound{
    @apply text-2xl font-bold text-dark mb-3;
  }
  input {
    @apply m-1 w-40 cursor-pointer text-neutral-600 text-sm rounded border-2 border-solid border-dark;
  }
  .modal-container {
    @apply w-full h-screen bg-neutral-900 bg-opacity-70 flex justify-center items-center fixed top-0 left-0 z-[3];
  }
  .modal {
    @apply w-full h-screen bg-light overflow-y-scroll flex flex-col justify-around items-center font-sans text-bg-light text-center md:w-3/4 md:h-3/4 md:overflow-y-hidden md:rounded-3xl md:flex-row md:justify-around md:relative;
  }
  .modal-image {
    @apply w-1/2 h-1/2 flex justify-center items-center order-2 md:h-96 md:p-4 md:order-none;
  }
  .modal-image img {
    @apply w-full h-full object-scale-down;
  }
  .landscape {
    @apply sm:w-full;
  }
  .modal-text {
    @apply w-4/5 h-2/4 flex flex-col justify-around order-3 md:w-2/4 md:h-4/5 md:order-none;
  }
  .modal-text > p:first-of-type {
    @apply font-serif text-2xl font-bold leading-10 md:text-2xl;
  }
  .close {
    @apply w-12 h-12 relative self-center order-1 cursor-pointer md:self-start md:order-none md:p-2.5;
  }

  .container-card {
    @apply  rounded-2xl text-base cursor-pointer font-sans;
    box-shadow: 0px 10px 12px 4px #00000050;
  }
  .photoEvent {
    @apply w-full h-40 relative;
  }
  .photoEvent > img {
    @apply  object-cover rounded-tl-2xl rounded-tr-2xl;
  }

  .info-card {
    @apply w-full h-72 flex flex-col justify-evenly px-4;
  }

  .info-card h2 {
    @apply h-2/6 text-xl font-serif;
  }

  .info-card p {
    @apply text-base;
  }

  .icons-bar {
   @apply w-full py-2.5 bg-light rounded-[80px] flex flex-row flex-wrap justify-evenly;
   box-shadow: 0px 2px 4px  #00000050;
  }
  .icons-bar > div {
    @apply flex flex-col items-center;
  }
  .icons-bar > div > img {
    @apply w-6 h-6;
  }
  .bookmark {
    @apply w-12 h-12 flex justify-center items-end absolute top-0 left-0;
  }
  .bookmarkEvent{
    @apply w-10 h-10 flex justify-center items-end absolute top-7 left-5 md:top-6 md:left-6 lg:top-2 lg:left-1 cursor-pointer;
  }
  .tooltip {
    @apply w-12 h-12 flex justify-center items-end absolute top-0 right-0;
  }
  .tooltip .tooltip-text {
    @apply hidden w-24 bg-black text-white text-center rounded-md px-1 py-1 absolute z-[1] bottom-full left-1/2 -translate-x-1/2;
  }
  .tooltip:hover .tooltip-text {
    @apply block opacity-100;
  }
  .tooltip .tooltip-text::after {
    @apply absolute top-full left-1/2 -ml-1 border-[5px] border-solid;
    content: " ";
    border-color: black transparent transparent transparent;
  }

  /* New page styles*/
  .container-info-page {
    @apply md:shadow-2xl mb-8 text-lg  py-3.5;
  }
  .info-container {
    @apply md:border-solid;
  }
  .top-info {
    @apply flex flex-col  justify-around items-center md:flex-row;
  }
  .img-container {
    @apply p-5 md:max-w-md lg:p-0 lg:max-w-lg xl:max-w-screen-sm relative;
  }
  .img-container img {
    @apply w-full rounded-2xl;
  }
  .info-event {
    @apply flex flex-col  gap-2 relative md:max-w-sm lg:max-w-sm;
  }
  .title-ev {
    @apply text-center font-serif text-3xl font-bold p-5;
  }
  .category {
    @apply flex justify-start gap-2 py-1 px-2;
  }

  .labelsSvg {
    @apply -ml-1 w-[22px] h-[22px];
  }

  .city-location {
    @apply flex justify-start items-center gap-2 py-1 px-2 rounded;
  }
  .date {
    @apply flex justify-start items-center gap-2 py-1 px-2 rounded;
  }
  .hours {
    @apply flex justify-start items-center gap-2 py-1 px-2 rounded;
  }
  .btn-calendar {
    @apply mt-3.5 font-sans bg-dark self-center text-light rounded-md cursor-pointer transition-all delay-150 hover:bg-contrast-bg-light px-6 py-1;
  }
  .price {
    @apply flex justify-start items-center self-start py-2 rounded;
  }

  .price img {
    @apply relative top-1;
  }

  .share-bar {
    @apply flex flex-col content-center justify-around h-36 mt-5 md:flex-row md:border-y md:border-neutral-300 border-opacity-5;
  }
  .btn-more-info {
    @apply font-sans bg-links-cta self-center border-4 border-solid border-links-cta font-bold rounded-md cursor-pointer transition-all text-dark delay-150 duration-700 hover:bg-light hover:border-contrast-bg-light hover:text-contrast-bg-light px-4 py-1 mb-5 md:mb-0 md:order-1;
  }
  .share-icon {
    @apply h-10  flex flex-row justify-center items-center mb-5 md:self-center md:mb-0 ;
  }
  .share-text {
    @apply text-bg-light text-base pl-4 font-bold ;
  }
  .container-social {
    @apply flex flex-row justify-evenly md:self-center md:w-1/5;
  }
  .bottom-info {
    @apply flex flex-col p-5 text-justify;
  }
  .icon-social{
    @apply cursor-pointer;
  }
  .contText {
    @apply pb-9;
  }
  .map {
    @apply self-center;
  }
  .iframe-map {
    @apply pb-4;
  }
  .more-events-container {
    @apply w-11/12 self-center pt-5;
  }
  .arrows-container {
    @apply flex flex-row justify-between;
  }
  .titleOtherEv {
    @apply md:text-xl;
  }
  .arrows {
    @apply flex;
  }
  .more-events {
    @apply p-5 md:w-full md:flex;
  }
}


@layer utilities {

  .max-w-4xs          { max-width: 8rem; }
  .max-w-3xs          { max-width: 12rem; }
  .max-w-2xs          { max-width: 16rem; }
  .min-w-0             { min-width: 0rem; }
  .min-w-none       { min-width: none; }
  .min-w-4xs          { min-width: 8rem; }
  .min-w-3xs          { min-width: 12rem; }
  .min-w-2xs          { min-width: 16rem; }
  .min-w-xs	        { min-width: 20rem; }
  .min-w-sm	        { min-width: 24rem; }
  .min-w-md	        { min-width: 28rem; }
  .min-w-lg	        { min-width: 32rem; }
  .min-w-xl	        { min-width: 36rem; }
  .min-w-2xl	        { min-width: 42rem; }
  .min-w-3xl	        { min-width: 48rem; }
  .min-w-4xl	        { min-width: 56rem; }
  .min-w-5xl	        { min-width: 64rem; }
  .min-w-6xl	        { min-width: 72rem; }
  .min-w-7xl	        { min-width: 80rem; }
  .min-w-full	        { min-width: 100%; }
  .min-w-min	        { min-width: min-content; }
  .min-w-min	        { min-width: min-content; }
  .min-w-prose        { min-width: 65ch; }
  .min-w-screen-sm    { min-width: 640px; }
  .min-w-screen-md	{ min-width: 768px; }
  .min-w-screen-lg	{ min-width: 1024px; }
  .min-w-screen-xl	{ min-width: 1280px; }
  .min-w-screen-2xl	{ min-width: 1536px; }
}

