/* @import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;1,400;1,500&family=Lobster&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap%27"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.name-web{
  text-shadow: 5px 0 0 #0B3762;
}

.page-404{
  min-height: calc(100vh - 310px);
}
@layer base {
  @font-face {
    font-family: 'Be Vietnam Pro';
    font-weight: 400;
    src:
      url('/fonts/BeVietnamPro/BeVietnam-400.woff') format('woff'),
      url('/fonts/BeVietnamPro/BeVietnam-400.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Merriweather';
    font-weight: 700;
    src:
      url('/fonts/Merriweather/Merriweather-700.woff') format('woff'),
      url('/fonts/Merriweather/Merriweather-700.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Merriweather';
    font-weight: 500;
    src:
      url('/fonts/Merriweather/Merriweather-500.woff') format('woff'),
      url('/fonts/Merriweather/Merriweather-500.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Lobster';
    font-weight: 400;
    src:
      url('/fonts/Lobster.woff') format('woff'),
      url('/fonts/Lobster.ttf') format('truetype');
  }
}
@layer components {
  button.filter-selected svg path {
    @apply fill-dark;
  }
  button.filter-unselected svg path {
    @apply fill-light;
  }
  .filter-selected{
    @apply flex justify-center items-center py-1 px-2 gap-1 cursor-pointer text-dark font-bold bg-links-cta rounded;
  }
  .filter-unselected{
    @apply flex justify-center items-center py-1 px-2 text-light gap-1 cursor-pointer bg-dark rounded font-bold;
  }
  .page-selected{
    @apply px-4 py-2 bg-dark text-light font-bold cursor-pointer border border-dark ;
  }
  .page-unselected{
    @apply px-4 py-2 bg-light text-dark font-bold cursor-pointer border border-dark hover:bg-dark hover:text-light;
  }
  .info-notFound{
    @apply text-2xl font-bold text-dark mb-3;
  }
  input {
    @apply m-1 w-40 cursor-pointer text-neutral-600 text-sm rounded border-2 border-solid border-dark;
  }

  .container-card {
    @apply  rounded-2xl text-base cursor-pointer font-sans flex flex-col-reverse;
    box-shadow: 0px 10px 12px 4px #00000050;
    transition: transform 500ms;
  }
  .container-card:hover{
    transform: scale(1.05);
  }
  .photoEvent {
    @apply w-full h-40 relative;
  }
  .photoEvent > img {
    @apply  object-cover rounded-tl-2xl rounded-tr-2xl;
  }

  .info-card {
    @apply w-full h-72 flex flex-col justify-evenly px-4;
  }

  .info-card h2 {
    @apply h-2/6 text-xl font-serif;
  }

  .info-card p {
    @apply text-base;
  }

  .icons-bar {
   @apply w-full py-2.5 bg-light rounded-[80px] flex flex-row flex-wrap justify-evenly;
   box-shadow: 0px 2px 4px  #00000050;
  }
  .icons-bar > div {
    @apply flex flex-col items-center;
  }
  .icons-bar > div > img {
    @apply w-6 h-6;
  }
  .bookmark {
    @apply w-12 h-12 flex justify-center items-end absolute top-0 left-0;
  }
  .bookmarkEvent{
    @apply w-10 h-10 flex justify-center items-end absolute top-7 left-5 md:top-6 md:left-6 lg:top-2 lg:left-1 cursor-pointer;
  }
  .tooltip {
    @apply w-12 h-12 flex justify-center items-end absolute top-0 right-0;
  }
  .tooltip .tooltip-text {
    @apply hidden w-24 bg-black text-white text-center rounded-md px-1 py-1 absolute z-[1] bottom-full left-1/2 -translate-x-1/2;
  }
  .tooltip:hover .tooltip-text {
    @apply block opacity-100;
  }
  .tooltip .tooltip-text::after {
    @apply absolute top-full left-1/2 -ml-1 border-[5px] border-solid;
    content: " ";
    border-color: black transparent transparent transparent;
  }

  /* New page styles*/
  .category {
    @apply flex justify-start gap-2 py-1 px-2;
  }

  .labelsSvg {
    @apply -ml-1 w-[22px] h-[22px];
  }

  .info-icon-event {
    @apply flex flex-row justify-start items-center gap-2 py-1 px-2 rounded;
  }
  .btn-calendar {
    @apply mt-3.5 font-sans bg-dark self-center text-light rounded-md cursor-pointer transition-all delay-150 hover:bg-contrast-bg-light px-6 py-1;
  }
  .share-bar {
    @apply flex flex-col content-center justify-around h-36 mt-5 md:flex-row md:border-y md:border-neutral-300 border-opacity-5;
  }
  .btn-more-info {
    @apply font-sans bg-links-cta self-center border-4 border-solid border-links-cta font-bold rounded-md cursor-pointer transition-all text-dark delay-150 duration-700 hover:bg-light hover:border-contrast-bg-light hover:text-contrast-bg-light px-4 py-1 mb-5 md:mb-0 md:order-1;
  }
  .share-icon {
    @apply h-10  flex flex-row justify-center items-center mb-5 md:self-center md:mb-0 ;
  }
  .container-social {
    @apply flex flex-row justify-evenly md:self-center md:w-1/5;
  }
}


@layer utilities {

  .max-w-4xs          { max-width: 8rem; }
  .max-w-3xs          { max-width: 12rem; }
  .max-w-2xs          { max-width: 16rem; }
  .min-w-0             { min-width: 0rem; }
  .min-w-none       { min-width: none; }
  .min-w-4xs          { min-width: 8rem; }
  .min-w-3xs          { min-width: 12rem; }
  .min-w-2xs          { min-width: 16rem; }
  .min-w-xs	        { min-width: 20rem; }
  .min-w-sm	        { min-width: 24rem; }
  .min-w-md	        { min-width: 28rem; }
  .min-w-lg	        { min-width: 32rem; }
  .min-w-xl	        { min-width: 36rem; }
  .min-w-2xl	        { min-width: 42rem; }
  .min-w-3xl	        { min-width: 48rem; }
  .min-w-4xl	        { min-width: 56rem; }
  .min-w-5xl	        { min-width: 64rem; }
  .min-w-6xl	        { min-width: 72rem; }
  .min-w-7xl	        { min-width: 80rem; }
  .min-w-full	        { min-width: 100%; }
  .min-w-min	        { min-width: min-content; }
  .min-w-min	        { min-width: min-content; }
  .min-w-prose        { min-width: 65ch; }
  .min-w-screen-sm    { min-width: 640px; }
  .min-w-screen-md	{ min-width: 768px; }
  .min-w-screen-lg	{ min-width: 1024px; }
  .min-w-screen-xl	{ min-width: 1280px; }
  .min-w-screen-2xl	{ min-width: 1536px; }
}

